@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

body {
    font-family: 'Ubuntu Mono', monospace !important;
}

.socialImage{
    width:15%;
    margin-top: 15px;
    margin-left: 20px;
}


.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }

  .projectCard{
      margin-bottom: 30px;
  }

  .projectLogos{
      width: 5%;
  }